@model Lok.Models.Category

@{
    ViewData["Title"] = "Details";
    Layout = "_LayoutAdmin";

}

<h3>Category Details</h3>

<table class="table table-bordered table-responsive-lg table-striped">
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(model => model.CategoryName)
        </td>
        </tr>
   <tr>
        <td>
            @Html.DisplayNameFor(model => model.Description)
        </td>
        <td>
            @Html.DisplayFor(model => model.Description)
        </td>
    </tr>
</table>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new {@class="btn btn-primary" }) |
    <a asp-action="Index">Back to List</a>
</div>
