@model IEnumerable<Lok.Models.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutAdmin";

}

<h3>Category</h3>

<p>
    <a asp-action="Create" class="btn btn-primary"><i class="ion-plus"></i> Create New</a>
</p>
<table class="table" id="tbl">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
<script src="~/assets/js/jquery.min.js"></script>
<script>
    $(function () {
        $("#tbl").DataTable(
            {
                "columnDefs": [

                    { "orderable": false, "targets": 2 },



                ],
            });
    })
</script>
