@model Lok.Models.Advertisiment

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Advertisiment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AdvertisimentType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AdvertisimentType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GroupId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GroupId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubGroupId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubGroupId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DatePublished)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DatePublished)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Office)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Office)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Marks)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Marks)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NoticeNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NoticeNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MinAge)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MinAge)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaxAge)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaxAge)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Examtype)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Examtype)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MinEduQualification)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MinEduQualification)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Notice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Notice)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
