@model IEnumerable<Lok.Models.Advertisiment>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AdvertisimentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SNo)
            </th>
            <th>
                Service
            </th>
            <th>
                Group
            </th>
            <th>
                Sub Group
            </th>
            <th>
                Ethnical Group
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AdvertisimentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Service.ServiceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Group.GroupName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubGroup.SubGroupName)
            </td>
            <td>
                @{string a = "";}
                @if (item.EthinicalGroups != null)
                {
                @foreach (var items in item.EthinicalGroups)
                {
                    a = a + items.Name + ' ';
                }
                }
                @a
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new {  id=item.Id  }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
