@model IEnumerable<Lok.ViewModel.ProfessionalCouncilVM>
@{
    ViewData["Title"] = "Council Info";
    ViewData["HeaderMain"] = "Council Information";
    ViewData["HeaderLink"] = "Council";
    Layout = "_layoutUser";
}
<partial name="_HeaderPartialIndex" />
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <p>
                    <a asp-action="CouncilCreate" class="btn btn-primary">Create New</a>
                </p>
                <div>
                    @if (TempData["Message"] != null)
                    {
                        <div class="alert alert-success">
                            @TempData["Message"]
                        </div>
                    }

                </div>

                <table class="table table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.ProviderName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Type)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.RegistrationNo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ValidateFrom)
                            </th>


                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ProviderName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Type)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RegistrationNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ValidateFrom)
                                    </td>
                                    <td style="white-space: nowrap;">
                                        <div class="tabledit-toolbar btn-toolbar" style="text-align: left;">
                                            <div class="btn-group btn-group-sm" style="float: none;">
                                                <a href='@Url.Action("CouncilEdit", "Applicant")?PId=@item.PId' type="button" class="tabledit-edit-button btn btn-sm btn-info" style="float: none; margin: 5px;"><span class="ti-pencil"></span></a>
                                                <a href="@Url.Action("DeleteCouncil","Applicant")?PId=@item.PId" onclick="return confirm('Are you sure you want to delete this record?');" type="button" class="tabledit-delete-button btn btn-sm btn-info" style="float: none; margin: 5px;"><span class="ti-trash"></span></a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr><td colspan="6">No Records Found.</td></tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
