@model IEnumerable<Lok.ViewModel.TrainingVM>

@{
    ViewData["Title"] = "TrainingIndex";
}

<h2>TrainingIndex</h2>

<p>
    <a asp-action="TrainingCreate">Create New</a>
</p>
<table class="table table-bordered table-responsive">
    <thead>
        <tr>
          
            <th>
                @Html.DisplayNameFor(model => model.TId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrganizationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainingName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DivisionPercentage)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                 
                    <td>
                        @Html.DisplayFor(modelItem => item.TId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrganizationName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TrainingName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DivisionPercentage)
                    </td>

                    <td>
                        <a href="@Url.Action("TrainingEdit", "Applicant")?TId=@item.TId"><i class="fa fa-edit"></i>Edit</a>|
                        <a href="@Url.Action("DeleteTraining","Applicant")?TId=@item.TId" onclick="return confirm('Are you sure you want to delete this record?');">Delete</a>


                    </td>
                </tr>
            }
        }
        else
        {
            <tr><td colspan="6">No Record found.</td></tr>
        }
    </tbody>
</table>
