@model Lok.ViewModel.UploadVM

@{
    ViewData["Title"] = "Upload";
    ViewData["HeaderMain"] = "Upload Documents";
    ViewData["HeaderLink"] = "Upload";
    Layout = "_layoutUser";

}
<partial name="_HeaderPartial" />

<form asp-action="Upload" class="row form-material" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="Photograph" class="control-label"></label>
            <input asp-for="PhotographFile" class="form-control" />
            <span asp-validation-for="Photograph" class="text-danger"></span>
            @if (!string.IsNullOrEmpty(Model.PhotographLink))
            {
                <img src="@Url.Content(Model.PhotographLink)" alt="@Model.Photograph" style="height:50px;width:50px;" />
            }

        </div>

    </div>
    <div class="col-md-4">

        <div class="form-group">
            <label asp-for="Signature" class="control-label"></label>
            <input asp-for="SignatureFile" class="form-control" />
            <span asp-validation-for="Signature" class="text-danger"></span>
            @if (!string.IsNullOrEmpty(Model.SignatureLink))
            {
                <img src="@Url.Content(Model.SignatureLink)" alt="@Model.Signature" style="height:50px;width:50px;" />

            }
        </div>

    </div>
    <div class="col-md-4">

        <div class="form-group">
            <label asp-for="Citizenship" class="control-label"></label>
            <input asp-for="CitizenshipFile" class="form-control" />
            <span asp-validation-for="Citizenship" class="text-danger"></span>
            @if (!string.IsNullOrEmpty(Model.CitizenshipLink))
            {
                <img src="@Url.Content(Model.CitizenshipLink)" alt="@Model.Citizenship" style="height:50px;width:50px;" />

            }
        </div>

    </div>
    <div class="col-md-4">

        <div class="form-group">
            <label asp-for="InclusionGroup" class="control-label"></label>
            <input asp-for="InclusionGroupFile" class="form-control" />
            <span asp-validation-for="InclusionGroup" class="text-danger"></span>
            @if (!string.IsNullOrEmpty(Model.InclusionGroupLink))
            {
                <img src="@Url.Content(Model.InclusionGroupLink)" alt="@Model.InclusionGroup" style="height:50px;width:50px;" />

            }
        </div>

    </div>
    <div class="col-md-12">

        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>
    </div>
</form>
<partial name="_FooterPartial" />