@model IEnumerable<Lok.Models.Faculty>

@{
    ViewData["Title"] = "Faculty";
    ViewData["HeaderMain"] = "Faculty";
    ViewData["HeaderLink"] = "Faculty";
    Layout = "_layoutAdmin";

}
<partial name="_HeaderPartial" />

        <p>
            <a asp-action="Create" class="btn btn-primary">Create New</a>
        </p>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>

                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
<partial name="_FooterPartial" />
